extends layout

include mixins/_standingsCard
include mixins/_gameForm
include mixins/_game
include mixins/_winnerPicksForm
include mixins/_weeklyGamePicksForm
include mixins/_weeklyUserCard

block content
  .container
    - let currentPick
    - let pickId = ''
    - let complete;
    if user
      
      if user.isBettor
        p.bold You are set up as a $10 bettor. More to come later
      if week.winner && week.winner.length >0
        each pick in week.picks
          if pick.author.equals(user._id)
            p= `Welcome ${user.name}! So far this week you are ${pick.weeklyWins}-${pick.weeklyLosses}.`
      else if prevWeek
        - let foundUser = false
        each pick in prevWeek.picks
          if pick.author.equals(user._id)
            - foundUser = true
            if pick.weeklyLosses === 0 && pick.weeklyWins
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Perfect!!!`
            else if pick.weeklyWins - pick.weeklyLosses > 1
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Way to go!`
            else if pick.weeklyWins - pick.weeklyLosses < -1
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Let's step it up this week!`
            else
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Not too bad. Keep it up!`
        if !foundUser
          p= `Welcome ${user.name}! Looks like you didn't do last week's picks. Let's crush it this week!`
      else
        p= `Welcome ${user.name}! Let's start the season off right!`
      if new Date() < startOfSeason
        a(href='/weeks/preseason')
          p.link= `Click here to make preseason picks. (Due ${h.moment(startOfSeason).fromNow()})`
      h2(class=`${user.favTeam}`)= `${week.name} Spread Picks`
      +weeklyGamePicksForm()
      //- +weeklyUserCard(week, currentUserPick, homeTrend, awayTrend)
    else
      a(href="/login")
        p.link Please sign in to make picks
    +standingsCard(user)


    script(src="/javascripts/modules/weeklyGames.js")