extends layout

include mixins/_standingsCard
include mixins/_betStandingsCard
include mixins/_gameForm
include mixins/_game
include mixins/_winnerPicksForm
include mixins/_weeklyGamePicksForm
include mixins/_weeklyUserCard
include mixins/_weeklyResultsCard

block content
  .container
    - let currentPick
    - let pickId = ''
    - let picksMade;
    if user
      if week.winner && week.winner.length >0
        each pick in week.picks
          if pick.author.equals(user._id)
            if (pick.weeklyWins + pick.weeklyLosses) === week.games.length
              p= `Welcome ${user.name}! You went ${pick.weeklyWins}-${pick.weeklyLosses} for the week. Check back later for next week's games.`
            else
              p= `Welcome ${user.name}! So far this week you are ${pick.weeklyWins}-${pick.weeklyLosses}.`
      else if prevWeek
        - let foundUser = false
        each pick in prevWeek.picks
          if pick.author.equals(user._id)
            - foundUser = true
            if pick.weeklyLosses === 0 && pick.weeklyWins
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Perfect!!!`
            else if pick.weeklyWins - pick.weeklyLosses > 1
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Way to go!`
            else if pick.weeklyWins - pick.weeklyLosses < -1
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Let's step it up this week!`
            else
              p= `Welcome ${user.name}! Last week you went ${pick.weeklyWins}-${pick.weeklyLosses}. Not too bad. Keep it up!`
        if !foundUser
          p= `Welcome ${user.name}! Looks like you didn't do last week's picks. Let's crush it this week!`
      else
        p= `Welcome ${user.name}! Let's start the season off right!`
      if new Date() < startOfSeason
        a(href='/weeks/preseason')
          p.link= `Click here to make preseason picks. (Due ${h.moment(startOfSeason).fromNow()})`
      h2(class=`${user.favTeam}`)= `${week.name} Spread Picks`
      - let remainingGames = false
      - let nextGame = ''
      if week.games
        each game in week.games
          if(h.moment() < game.gameDate && nextGame === '')
            - remainingGames = true
            - nextGame = game.gameDate
        if week.picks
          each pick in week.picks
            if pick.author.equals(user._id)
              - pickId = `/${pick._id}`
              if !editPicks && remainingGames        
                p The next game starts #{h.moment(nextGame).fromNow()}. 
                  a(href=`/weeks/${week.slug}/picks${pickId}/edit`)
                    button.btn(class=`${user.favTeam ? user.favTeam + ' active' : ''}`) Click here to update picks
              if !editPicks
                - picksMade = 'yes'
      .btn-group.btn-group-toggle(data-toggle='buttons')
        if picksMade
          label.col-sm.btn.active(class=`${user.favTeam}` name="homePageOptions" value="userCard")
            p Your Picks
          label.col-sm.btn(class=`${user.favTeam}` name="homePageOptions" value="groupCard")
            p Group Picks
        else
          label.col-sm.btn.active(class=`${user.favTeam}` name="homePageOptions" value="groupCard")
            p Your Picks
        label.col-sm.btn(class=`${user.favTeam}` name="homePageOptions" value="standingsCard")
          p Standings
        label.col-sm.btn(class=`${user.favTeam}` name="homePageOptions" value="weeklyResultsCard")
            p Weekly Results
        if user.isBettor
          label.col-sm.btn(class=`${user.favTeam}` name="homePageOptions" value="betStandingsCard")
            p Bet Standings
          
        if user.isAdmin
          label.col-sm.btn(class=`${user.favTeam}` name="homePageOptions" value="vegasCard")
            p Vegas
      
      if picksMade
        #userCard(name="homePageCards")
          +weeklyUserCard(week, currentUserPick, homeTrend, awayTrend)
        #groupCard.hidden(name="homePageCards")
          +weeklyGamePicksForm(picksMade)
      else
        #groupCard(name="homePageCards")
          +weeklyGamePicksForm(picksMade)
      #standingsCard.hidden(name="homePageCards")
        +standingsCard(user)
      #weeklyResultsCard.hidden(name="homePageCards")
          +weeklyResultsCard(userWeeks)
      if user.isBettor
        #betStandingsCard.hidden(name="homePageCards")
          +betStandingsCard(user, betUsers)
        
      if user.isAdmin
        #vegasCard.hidden(name="homePageCards")
          p If bet $11 to win 10, we'd be:
          - let totalGames = 0;
          - let totalWins = 0;
          - let totalLosses = 0
          each user in users
            - totalGames += user.totalWins + user.totalLosses
            - totalWins += user.totalWins
            - totalLosses += user.totalLosses
          p= `Overall total: ${totalWins} - ${totalLosses}`
          - let moneyBet = 11 * totalGames
          - let moneyWon = 21 * totalWins
          p= `Money bet: $${moneyBet}. Money won: $${moneyWon}. Net $${moneyBet - moneyWon}.`
    else
      a(href="/login")
        p.link Please sign in to make picks
      +standingsCard(user)


    script(src="/javascripts/modules/weeklyGames.js")
    script(src="/javascripts/modules/homePage.js")