doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style-new.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='/dist/teams.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.navbar-brand(href="/")
            p The Spread Picks Club
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href="/")
                  p Home
              li.nav-item
                  a.nav-link(href="/weeks")
                    p Pick Weeks
              li.nav-item
                  a.nav-link(href="/standings")
                    p Standings
              li.nav-item
                  a.nav-link(href="/weeks/preseason")
                    p Preseason
            
            .navbar-text
              ul.navbar-nav.mr-auto
                if user && user.isAdmin
                  li.nav-item
                    a.nav-link(href="/weeks/add")
                      p Add Week
                  li.nav-item
                    a.nav-link(href="/weeks/addgames")
                      p Add Games
                  li.nav-item
                    a.nav-link(href="/weeks/winner")
                      p Winner
                  li.nav-item
                    a.nav-link(href="/weeks/winner/preseason")
                      p Preseason Winner
                if user
                  li.nav-item
                    a.nav-link(href="/logout")
                      p Logout
                  li.nav-item
                    a.nav-link(href="/account")
                      img.avatar(src=user.gravatar + '&d=retro')
                else
                  li.nav-item
                    a.nav-link(href="/join")
                      p Join the Club
                  li.nav-item
                    a.nav-link(href="/login")
                      p Log In

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .container
      block content

    //- footer
    //-   block footer
    //-     p (C) Tommy Tate

    block scripts
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")