extends layout

include mixins/_preseasonCard
include mixins/_preseasonCardBig12
include mixins/_preseasonTableRow

block content
  - let foundUser = false
  - const currentUser = user._id
  if preseasons
    each preseason in preseasons
      if preseason.author.equals(currentUser)
        - preseasonId = `/${preseason._id}`
        if !editPicks          
          a(href=`/weeks/preseason${preseasonId}/edit`)
            button.btn Click here to update picks
        - complete = 'yes'
  if(complete==='yes' && !editPicks)
    table.table
      thead
        td
        td Correct Pick
        each user in users
          if currentUser.equals(user._id)
            td #{user.name}
        each user in users
          if !currentUser.equals(user._id)
            td #{user.name}
      thead
        td
        td
        each user in users
          if currentUser.equals(user._id)
            each preseason in preseasons
              if preseason.author.equals(user._id)
                td= `total points: Y`
        each user in users
          - foundUser = false
          if !currentUser.equals(user._id)
            each preseason in preseasons
              if preseason.author.equals(user._id)
                - foundUser = true
                td= `total points: X`
            if !foundUser
              td
      +preseasonTableRow('ACC Atlantic', 'ACCa')
      +preseasonTableRow('ACC Coastal', 'ACCc')
      +preseasonTableRow('ACC', 'ACC')
      +preseasonTableRow('SEC East', 'SECe')
      +preseasonTableRow('SEC West', 'SECw')
      +preseasonTableRow('SEC', 'SEC')
      +preseasonTableRow('Big 10 East', 'Big10e')
      +preseasonTableRow('Big 10 West', 'Big10w')
      +preseasonTableRow('Big 10', 'Big10')
      +preseasonTableRow('Pac 12 North', 'Pac12n')
      +preseasonTableRow('Pac 12 South', 'Pac12s')
      +preseasonTableRow('Pac 12', 'Pac12')
      +preseasonTableRow('Big 12 Team 1', 'Big12d1')
      +preseasonTableRow('Big 12 Team 2', 'Big12d2')
      +preseasonTableRow('Big 12', 'Big12')
  else  
    - let teams = []
    - let division = ""
    - let conference = ""
    h2= title
    form.form-group(action=`/weeks/preseason${preseasonId || ''}` method="POST" class="card")
      //- ACC
      - teams = [[1, 'Clemson'],[2, 'Syracuse'], [3, 'Florida State'], [4, 'NC State'], [5, 'Boston College'], [6, 'Wake Forest'],[7, 'Louisville']];
      - division = 'ACCa'
      - conference = 'ACC'  
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Virginia'],[2, 'Miami'], [3, 'Virginia Tech'], [4, 'Pittsburgh'], [5, 'Duke'], [6, 'North Carolina'],[7, 'Georgia Tech']];
      - division = 'ACCc'
      - conference = 'ACC'
      +preseasonCard(teams, division, conference)
      - teams = [[0, 'ACC Atlantic'], [0, 'ACC Coastal']];
      - division = 'ACC'
      - conference = 'ACC'
      +preseasonCard(teams, division, conference)
      //- SEC
      - teams = [[1, 'Georgia'],[2, 'Florida'], [3, 'Missouri'], [4, 'South Carolina'], [5, 'Tennessee'], [6, 'Kentucky'],[7, 'Vanderbilt']];
      - division = 'SECe'
      - conference = 'SEC'  
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Alabama'],[2, 'LSU'], [3, 'Texas AM'], [4, 'Auburn'], [5, 'Mississippi St'], [6, 'Ole Miss'],[7, 'Arkansas']];
      - division = 'SECw'
      - conference = 'SEC'  
      +preseasonCard(teams, division, conference)
      - teams = [[0, 'SEC East'], [0, 'SEC West']];
      - division = 'SEC'
      - conference = 'SEC'
      //- Big 10
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Michigan'],[2, 'Ohio State'], [3, 'Michigan State'], [4, 'Penn State'], [5, 'Indiana'], [6, 'Maryland'],[7, 'Rutgers']];
      - division = 'Big10e'
      - conference = 'Big10'  
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Nebraska'],[2, 'Iowa'], [3, 'Wisconsin'], [4, 'Northwestern'], [5, 'Purdue'], [6, 'Minnesota'],[7, 'Illinois']];
      - division = 'Big10w'
      - conference = 'Big10'
      +preseasonCard(teams, division, conference)
      - teams = [[0, 'Big10 East'], [0, 'Big10 West']];
      - division = 'Big10'
      - conference = 'Big10'
      //- Pac 12
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Oregon'],[2, 'Washington'], [3, 'Stanford'], [4, 'Washington State'], [5, 'California'], [6, 'Oregon State']];
      - division = 'Pac12n'
      - conference = 'Pac12'  
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Utah'],[2, 'USC'], [3, 'Arizona State'], [3, 'UCLA'], [5, 'Arizona'], [6, 'Colorado']];
      - division = 'Pac12s'
      - conference = 'Pac12'
      +preseasonCard(teams, division, conference)
      - teams = [[0, 'Pac12 North'], [0, 'Pac12 South']];
      - division = 'Pac12'
      - conference = 'Pac12'
      //- Big 12
      +preseasonCard(teams, division, conference)
      - teams = [[1, 'Oklahoma'],[2, 'Texas'],[3, 'Iowa State'],[4, 'TCU'],[5, 'Oklahoma State'],[6, 'Baylor'],[7, 'Texas Tech'],[8, 'West Virginia'],[9, 'Kansas State'],[10, 'Kansas']];
      - division = 'Big12d'
      - conference = 'Big12'
      +preseasonCardBig12(teams, division, conference)
      - teams = [[0, 'Big12 Team'], [0, 'Big12 Team']];
      - division = 'Big12'
      - conference = 'Big12'
      +preseasonCardBig12(teams, division, conference)
      - 
        teams = [
          [1, 'Clemson'],
          [2, 'Alabama'],
          [3, 'Georgia'],
          [4, 'Oklahoma'],
          [5, 'Team5'],
          [6, 'Team6'],
          [7, 'Team7'],
          [8, 'Team8'],
          [9, 'Team9'],
          [10, 'Team10'],
          [11, 'Team11'],
          [12, 'Team12'],
          [13, 'Team13'],
          [14, 'Team14'],
          [15, 'Team15'],
          [16, 'Team16'],
          [17, 'Team17'],
          [18, 'Team18'],
          [19, 'Team19'],
          [20, 'Team20'],
          [21, 'Team21'],
          [22, 'Team22'],
          [23, 'Team23'],
          [24, 'Team24'],
          [25, 'Team25'],
        ]
      each team in teams
        p= team[1]

      input(type="submit" value="Submit Picks" class="btn form btn-secondary btn-lg")

  script(src="/javascripts/modules/preseason.js")