extends layout

include mixins/_gameForm
include mixins/_game
include mixins/_winnerPicksForm
include mixins/_weeklyGamePicksForm

block content
  - let currentPick
  - let pickId = ''
  - let complete
  h2= title
  if getWinner
    if week.winner.length
      p Don't pick winners here
      a(href=`/weeks/winner/${week.slug}/edit`)
        button.btn Click here to update winners
      form.form-group.card(name="done")
        each game, i in week.games
          - currentPick = `${week.winner[0][game.ref]}`
          +game(game, i, currentPick)
    else
      +winnerPicksForm()
  else if editWinner
    - pickId = `${week.winner[0]._id}`
    form.form-group(action=`/weeks/winner/${week.slug}/picks/${pickId}` method="POST" class="card")
      each game, i in week.games
        - currentPick = `${week.winner[0][game.ref]}`
        +game(game, i, currentPick)
      input(type="submit" value="Submit Picks" class="btn form btn-secondary btn-lg")  
  else
    +weeklyGamePicksForm()

  script(src="/javascripts/modules/weeklyGames.js")