mixin preseasonCardBig12(teams, division, conference)
  - fullNameList = [['ACCa', 'ACC Atlantic', 'ACC'], ['ACCc', 'ACC Coastal', 'ACC'], ['SECe', 'SEC East', 'SEC'],['SECw', 'SEC West', 'SEC'],['Big10e','Big10 East', 'Big10'], ['Big10w','Big10 West', 'Big10'], ['Pac12n', 'Pac12 North', 'Pac12'], ['Pac12s', 'Pac12 South', 'Pac12'],['Big12', 'Big12', 'Big12']];
  - let fullName = "";
  each name in fullNameList
    if division === name[0]
      - fullName = name[1]
  if division === 'Big12d'
    p= `Who will play for the Big12 Championship?`
  else
    p= `Who will win the ${fullName || division}?`
  .btn-group-vertical
    if preseason
      if division !== conference
        p= preseason['Big12d1']
        each team in teams
          if preseason['Big12d1'] === team[1] || preseason['Big12d2'] === team[1]
            label.col-lg-3(class=`btn btn-lg ${team[1]} active teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${team[0]}` value=`${team[1]}`)
              p= `${team[0]} - ${team[1]}`
            input.hide(type='radio' name=`${division}` class=`${team[1]}` autocomplete='off' value=`${team[1]}`)
          else
            label.col-lg-3(class=`btn btn-lg ${team[1]} hidden teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${team[0]}` value=`${team[1]}`)
              p= `${team[0]} - ${team[1]}`
            input.hide(type='radio' name=`${division}` class=`${team[1]}` autocomplete='off' value=`${team[1]}`)
        input.hide(type='text' name=`${division}1` value=`${preseason['Big12d1']}`)
        input.hide(type='text' name=`${division}2` value=`${preseason['Big12d2']}`)        
        input.hide(type='number' name=`${division}1Points` value=`${preseason['Big12d1Points']}`)
        input.hide(type='number' name=`${division}2Points` value=`${preseason['Big12d2Points']}`)
        p.points(id=`${division}`) #{preseason['Big12d1']} is Worth #{preseason['Big12d1Points']} Points
        p.points(id=`${division}`) #{preseason['Big12d2']} is Worth #{preseason['Big12d2Points']} Points

      else
        if preseason['Big12'] === preseason['Big12d1']
          label.col-lg-3(class=`btn btn-lg ${preseason['Big12d1']} active teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${preseason['Big12d1Points']*2}` value=`${preseason['Big12d1']}`)
            p= `${preseason['Big12d1']}`
          input.hide(type='radio' name=`${division}` class=`${preseason['Big12d1']}` autocomplete='off' value=`${preseason['Big12d1']}`)

          label.col-lg-3(class=`btn btn-lg ${preseason['Big12d2']} hidden teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${preseason['Big12d2Points']*2}` value=`${preseason['Big12d2']}`)
            p= `${preseason['Big12d2']}`
          input.hide(type='radio' name=`${division}` class=`${preseason['Big12d2']}` autocomplete='off' value=`${preseason['Big12d2']}`)

          input.hide(type='number' name=`${division}Points` value=`${preseason['Big12d1Points']*2}`)
          p.points(id=`${division}` class=`${conference}`) #{preseason['Big12d1']} is Worth #{preseason['Big12d1Points']*2} Points
        else
          label.col-lg-3(class=`btn btn-lg ${preseason['Big12d1']} hidden teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${preseason['Big12d1Points']*2}` value=`${preseason['Big12d1']}`)
            p= `${preseason['Big12d1']}`
          input.hide(type='radio' name=`${division}` class=`${preseason['Big12d1']}` autocomplete='off' value=`${preseason['Big12d1']}`)

          label.col-lg-3(class=`btn btn-lg ${preseason['Big12d2']} active teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${preseason['Big12d2Points']*2}` value=`${preseason['Big12d2']}`)
            p= `${preseason['Big12d2']}`
          input.hide(type='radio' name=`${division}` class=`${preseason['Big12d2']}` autocomplete='off' value=`${preseason['Big12d2']}`)

          input.hide(type='number' name=`${division}Points` value=`${preseason['Big12d2Points']*2}`)
          p.points(id=`${division}` class=`${conference}`) #{preseason['Big12d2']} is Worth #{preseason['Big12d2Points']*2} Points

    else
      each team in teams
        label.col-lg-3(class=`btn btn-lg ${team[1]} teamB12` for=`${division}` name=`${division}` data-conference=`${conference}` data-points=`${team[0]}` value=`${team[1]}`)
          p= `${team[0]} - ${team[1]}`
        input.hide(type='radio' name=`${division}` class=`${team[1]}` autocomplete='off' value=`${team[1]}`)
      if division==='Big12d'
        input.hidden(type='text' name=`${division}1`)
        input.hidden(type='text' name=`${division}2`)        
        input.hidden(type='number' name=`${division}1Points`)
        input.hidden(type='number' name=`${division}2Points`)
      else
        input.hidden(type='number' name=`${division}Points`)
      if division==='Big12d'
        p.points.hiddenPoints(class=`${division}`) Worth X Points
        p.points.hiddenPoints(class=`${division}`) Worth X Points
      else
        p.points.hiddenPoints(id=`${division}`) Worth X Points
