mixin preseasonTableRow(divisionName, division)
  - const divisionPoints = `${division}Points`
  tr
    td= divisionName
    if preseasonWinner
      td Enter winner if here***
    else
      td this will be blank
    each user in users
      if currentUser.equals(user._id)
        each preseason in preseasons
          if preseason.author.equals(currentUser)
            if preseason[division]
              td(class=`${preseason[division]}`) #{preseason[division]} (#{preseason[divisionPoints]})
            else
              td
    each user in users
      - foundUser = false
      if !currentUser.equals(user._id)
        each preseason in preseasons
          if preseason.author.equals(user._id)
            - foundUser = true
            if preseason[division]
              td(class=`${preseason[division]}`) #{preseason[division]} (#{preseason[divisionPoints]})
            else
              td
        if !foundUser
          td