mixin weeklyUserCard(week)
  table.table
    thead
      td Match Up
      td Trend
      td Correct Pick
      td Your Pick
    
    each game, i in week.games
      - gameRef = `${game.ref}`
      tr
        td 
          |
          span(class=`${game.home}`) #{game.home} (#{game.spread >= 0 ? '+' : ''}#{game.spread})
          |&nbspvs&nbsp
          span(class=`${game.away}`) #{game.away} (#{game.spread < 0 ? '+' : ''}#{-game.spread})
        - let homePicks = homeTrend[i][0][game.home]
        - let awayPicks = awayTrend[i][0][game.away]
        if homePicks > awayPicks
          td(class=`${game.home}`)= `${Math.round(homePicks/(homePicks + awayPicks)*100)}% ${game.home}`
        else if awayPicks > homePicks
          td(class=`${game.away}`)= `${Math.round(awayPicks/(homePicks + awayPicks)*100)}% ${game.away}`
        else
          td Split 50/50
        if week.winner[0] && week.winner[0][gameRef]
          td.active(class=`${week.winner[0][gameRef]}`) #{week.winner[0][gameRef]}
        else
          td
        if week.winner[0] && week.winner[0][gameRef] === currentUserPick[gameRef]
          td(class=`${currentUserPick[gameRef]} active`)= currentUserPick[gameRef]
        else if week.winner[0] && week.winner[0][gameRef]
          td(class=`${currentUserPick[gameRef]}`)= currentUserPick[gameRef]
        else
          td(class=`${currentUserPick[gameRef]}`)= currentUserPick[gameRef]