mixin weeklyUserCard(week)
  table.table
    thead
      td Game Time
      td Match Up
      td Trend
      td Correct Pick
      td Your Pick
    
    each game, i in week.games
      - gameRef = `${game.ref}`
      - const months = ["January","February","March","April","May","June","July","August","September","October","November","December"]
      - const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
      - const gameWeekDay = days[game.gameDate.getDay()]
      - const gameMonth = months[game.gameDate.getMonth()]
      - const gameDay = game.gameDate.getDate()
      - const gameYear = game.gameDate.getFullYear()
      - const gameHour = game.gameDate.getHours()
      - const gameMinutes = game.gameDate.getMinutes()
      - const gameDate = `${gameWeekDay}, ${gameMonth} ${gameDay}, ${gameYear} at ${gameHour > 12 ? gameHour - 12 : gameHour}:${gameMinutes < 10 ? '0' : ''}${gameMinutes}`
      tr
        td= gameDate
        td 
          |
          span(class=`${game.home}`) #{game.home} (#{game.spread >= 0 ? '+' : ''}#{game.spread})
          |&nbspvs&nbsp
          span(class=`${game.away}`) #{game.away} (#{game.spread < 0 ? '+' : ''}#{-game.spread})
        

        - let homePicks = homeTrend[i][0] ? homeTrend[i][0][game.home] : ''
        - let awayPicks = awayTrend[i][0] ? awayTrend[i][0][game.away] : ''
        if homePicks > awayPicks
          td(class=`${game.home}`)= `${Math.round(homePicks/(homePicks + awayPicks)*100)}% ${game.home}`
        else if awayPicks > homePicks
          td(class=`${game.away}`)= `${Math.round(awayPicks/(homePicks + awayPicks)*100)}% ${game.away}`
        else if homePicks < 1
          td no picks yet
        else
          td Split 50/50
        
        if week.winner[0] && week.winner[0][gameRef]
          td.active(class=`${week.winner[0][gameRef]}`) #{week.winner[0][gameRef]}
        else
          td
        if week.winner[0] && week.winner[0][gameRef] === currentUserPick[gameRef]
          td(class=`${currentUserPick[gameRef]} active`)= currentUserPick[gameRef]
        else if week.winner[0] && week.winner[0][gameRef]
          td(class=`${currentUserPick[gameRef]}`)= currentUserPick[gameRef]
        else
          td(class=`${currentUserPick[gameRef]}`)= currentUserPick[gameRef]