mixin weeklyGamePicksForm(complete)
  - const currentUser = user._id
  - let remainingGames = false
  - let nextGame = ''
  - let foundUser = false
  if week.games
    if(complete==='yes' && !editPicks)
      table.table
        thead
          td.tableBackground Match Up
          td.tableBackground Correct Pick
          each user in users
            if currentUser.equals(user._id)
              td(class=`${user.favTeam} active`) #{user.name}
            else
              td(class=`${user.favTeam} tableBackground`) #{user.name}
        thead
          td
          td
          each user in users
            - foundUser = false
            each pick in week.picks
              if currentUser.equals(user._id)
                  - foundUser = true
              if pick.author.equals(user._id)
                - foundUser = true
                if week.maxWins > 0 && pick.weeklyPoints === week.maxWins
                  td(class=`${user.favTeam} active`)= `${pick.weeklyWins} - ${pick.weeklyLosses}`
                else
                  td= `${pick.weeklyWins} - ${pick.weeklyLosses}`
            if !foundUser
              td 0 - 0
        each game, i in week.games
          - gameRef = `${game.ref}`
          tr
            td 
              |
              span(class=`${game.home}`) #{game.home} (#{game.spread >= 0 ? '+' : ''}#{game.spread})
              |&nbspvs&nbsp
              span(class=`${game.away}`) #{game.away} (#{game.spread < 0 ? '+' : ''}#{-game.spread})
            if week.winner[0] && week.winner[0][gameRef]
              td.active(class=`${week.winner[0][gameRef]}`) #{week.winner[0][gameRef]}
            else
              td
            each user in users
              - foundUser = false
              each pick in week.picks
                if currentUser.equals(user._id)
                  - foundUser = true
                if pick.author.equals(user._id)
                  - foundUser = true
                  if week.winner[0] && pick[gameRef] && pick[gameRef] === week.winner[0][gameRef]
                    td.active(class=`${pick[gameRef]}`) #{pick[gameRef]}
                  else if week.winner[0] && !pick[gameRef] && week.winner[0][gameRef]
                    td.active no pick
                  else
                    td(class=`${pick[gameRef]}`)= `${pick[gameRef] || ''}`
              if !foundUser
                td
    else
      form.form-group(action=`/weeks${addOn || ''}/${week._id}/picks${pickId}` method="POST" class="card")
        each game, i in week.games
          if week.picks
            each pick in week.picks
              if pick.author.equals(user._id)
                - currentPick = `${pick[game.ref]}`
          +game(game, i, currentPick)
        input(type="submit" value="Submit Picks" class=`btn form btn-lg ${user.favTeam ? user.favTeam + ' active' : 'btn-secondary'}`)
  else
    p no games found