mixin weeklyGamePicksForm()
  - const currentUser = user._id
  - let remainingGames = false
  - let nextGame = ''
  if week.games
    each game in week.games
      if(h.moment() < game.gameDate && nextGame === '')
        - remainingGames = true
        - nextGame = game.gameDate
    h2 The next game starts #{h.moment(nextGame).fromNow()}
    if week.picks
      each pick in week.picks
        if pick.author.equals(user._id)
          - pickId = `/${pick._id}`
          if !editPicks && remainingGames        
            //- h2 The next game starts #{h.moment(nextGame).fromNow()}
            a(href=`/weeks/${week.slug}/picks${pickId}/edit`)
              button.btn(class=`${user.favTeam ? user.favTeam + ' active' : ''}`) Click here to update picks
          - complete = 'yes'
    if(complete==='yes' && !editPicks)
      table.table
        thead
          td Match Up
          td Correct Pick
          each user in users
            if currentUser.equals(user._id)
              td #{user.name}
          each pick in week.picks
            each user in users
              if pick.author.equals(user._id) && !currentUser.equals(user._id)
                td #{user.name}
        thead
          td
          td
          each user in users
            if currentUser.equals(user._id)
              each pick in week.picks
                if pick.author.equals(user._id)
                  td= `${pick.weeklyWins} - ${pick.weeklyLosses}`
          each pick in week.picks
            each user in users
              if pick.author.equals(user._id) && !currentUser.equals(user._id)
                td= `${pick.weeklyWins} - ${pick.weeklyLosses}`
        each game, i in week.games
          - gameRef = `${game.ref}`
          tr
            td 
              |
              span(class=`${game.home}`) #{game.home} (#{game.spread >= 0 ? '+' : ''}#{game.spread})
              |&nbspvs&nbsp
              span(class=`${game.away}`) #{game.away} (#{game.spread < 0 ? '+' : ''}#{-game.spread})
            if week.winner[0]
              td.active(class=`${week.winner[0][gameRef]}`) #{week.winner[0][gameRef]}
            else
              td
            if currentUser.equals(user._id)
              each pick in week.picks
                if pick.author.equals(user._id)
                  if week.winner[0] && pick[gameRef] === week.winner[0][gameRef]
                    td.active(class=`${pick[gameRef]}`) #{pick[gameRef]}
                  else
                    //- td
                    //- td(class=`${pick[gameRef]}`) #{pick[gameRef]}(#{game.spread < 0 ? '+' : ''}#{-game.spread})
                    td(class=`${pick[gameRef]}`)= `${pick[gameRef] || ''}`
            each pick in week.picks
              each user in users
                if pick.author.equals(user._id) && !currentUser.equals(user._id)
                  if week.winner[0] && pick[gameRef] === week.winner[0][gameRef]
                    td.active(class=`${pick[gameRef]}`) #{pick[gameRef]}
                  else
                    td(class=`${pick[gameRef]}`)= `${pick[gameRef] || ''}`
    else
      form.form-group(action=`/weeks${addOn || ''}/${week._id}/picks${pickId}` method="POST" class="card")
        each game, i in week.games
          if week.picks
            each pick in week.picks
              if pick.author.equals(user._id)
                - currentPick = `${pick[game.ref]}`
          +game(game, i, currentPick)
        input(type="submit" value="Submit Picks" class=`btn form btn-lg ${user.favTeam ? user.favTeam + ' active' : 'btn-secondary'}`)
  else
    p no games found